<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1>{{ "HomePage" | localize }}</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="alert alert-info alert-dismissible">
            <h6><i class="icon fa fa-"></i> Home FarmRu Iot monitoring
              This is the official dashboard for managing your farm.</h6>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box">
            <span class="info-box-icon bg-primary elevation-1">
              <i class="fas fa-plus-circle"></i>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">Roles</span>
              <span class="info-box-number">
                {{ stats.totalNumberOfRoles }}+
              </span>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-warning elevation-1">
              <i class="fas fa-users"></i>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">Users</span>
              <span class="info-box-number">
                {{ stats.totalNumberOfUsers }}+
              </span>
            </div>
          </div>
        </div>
        <div class="clearfix hidden-md-up"></div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-info elevation-1">
              <i class="fa-solid fa-circle-down"></i>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">Total Nodes</span>
              <span class="info-box-number">
                {{ stats.totalNumberOfNodes }}+
              </span>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-success elevation-1">
              <i class="far fa-arrow-alt-circle-up"></i>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">Active Nodes</span>
              <span class="info-box-number">
                {{ stats.totalNumberOfActiveNodes }}+
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="row">
        @if(pieChart) {
          <div class="col-md-6 col-sm-6 col-12 text-center">
            <div style="display: block;">
              <google-chart [data]="pieChart"></google-chart> 
            </div>
          </div>
        }
        @if(barChart) {
          <div class="col-md-6 col-sm-6 col-12 text-center">
            <div style="display: block;">
              <google-chart [data]="barChart"></google-chart>
            </div>
          </div> 
        }
        </div>      
    </div>
  </section>
</div>