<form class="form-horizontal" autocomplete="off" #fieldForm="ngForm" (ngSubmit)="save()">
  <abp-modal-header [title]="(isEdit ? 'EditField' : 'CreateNewField') | localize" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
  <div class="modal-body">
    <div class="form-group row required" *ngIf="!isEdit">
      <label class="col-md-3 col-form-label" for="facility">{{ "Facility" | localize }}</label>
      <div class="col-md-9">
        <select class="form-control" name="facility" id="facility" required [(ngModel)]="field.facilityId" #facilityModel="ngModel" #facilityEl>
          <option *ngFor="let f of facilities" [value]="f.id">{{ f.name }}</option>
        </select>
        <abp-validation-summary [control]="facilityModel" [controlEl]="facilityEl"></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="name">{{ "Name" | localize }}</label>
      <div class="col-md-9">
        <input type="text" class="form-control" name="name" id="name" required minlength="2" maxlength="100" [(ngModel)]="field.name" #nameModel="ngModel" #nameEl />
        <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="area">{{ "AreaHectares" | localize }}</label>
      <div class="col-md-9">
        <input type="number" class="form-control" name="area" id="area" min="0" step="0.01" [(ngModel)]="field.areaHectares" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="soilType">{{ "SoilType" | localize }}</label>
      <div class="col-md-9">
        <input type="text" class="form-control" name="soilType" id="soilType" maxlength="50" [(ngModel)]="field.soilType" />
      </div>
    </div>
  </div>
  <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!fieldForm.form.valid || saving" (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>
